@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.clock {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(55, 152, 143);
    background: linear-gradient(90deg, rgba(55, 152, 143, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(55, 145, 130, 1) 100%);
}

.time {
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    width: 70vw;
    height: 40vh;
}

.date {
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 50vw;
    height: 20vh;
}